<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% for field in form %}
{% for message in field.errors %}
<div>{{ message }}</div>
{% endfor %}
{% endfor %}
<div class="container">
  <h1 style="text-align:center"><b>Administrative tasks</b></h1>
  <div class="row">
    <div class="col-2">
      <a class="btn btn-primary" href="/update_repec" role="button">Update from REPEC</a>
    </div>
    <div class="col">
      <p>Update publications from REPEC</p>
    </div>
  </div>
</div>
{%endblock%}
