<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% for field in form %}
{% for message in field.errors %}
<div>{{ message }}</div>
{% endfor %}
{% endfor %}
<div class="container">
  <h1 style="text-align:center"><b>{{ title }}</b></h1>
  {% if error %}
  <p>Procedure failed with error {{ error.error }}</p>
  {% else %}
  <p>Completed in {{ elapsed_time }} seconds</p>
  {% endif %}
</div>
{% endblock %}
