{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Search papers</h1>
  <form action="/search_papers" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <div class="form-group row">
      {{field.label(class="col-2 col-form-label") }}
      {{ field(class="col-10 form-control") }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if results.Article or results.WorkingPaper%}
  {% if results.Article %}
  <h2>Articles</h2>
  <table class="table table-striped table-bordered table-hover" id="mydata">
    <thead>
      {% if False %}
      <th>Modify</th>
      <th>Delete</th>
      {% endif %}
      {% for e in a_keys %}
      <th>{{ e[1] }}</th>
      {% endfor %}
    </thead>
    {% if results.Article|length > 10 %}
    <tfoot>
      {% if False %}
      <th>Modify</th>
      <th>Delete</th>
      {% endif %}
      {% for e in a_keys %}
      <th>{{ e[1] }}</th>
      {% endfor %}
    </tfoot>
    {% endif %}   
    <tbody>
      {% for result in results.Article %}
      <tr>
	{% if False %}
	<td>
	  <a href="/ModifyPaper/{{result["_id"]}}">
	    <span class="fa fa-pencil"></span>
	  </a>
	</td>
	<td> 
	  <a href="/DeletePaper/{{result["_id"]}}">
	    <span class="fa fa-trash"></span>
	  </a>
	</td>
	{% endif %}
        {% for e in a_keys %}
        <td>  {{ result[e[0]] }} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {% endif %}
  {% if results.WorkingPaper %}
  <h2>Working Papers</h2>
  <table class="table table-striped table-bordered table-hover" id="mydata">
    <thead>
      {% if False %}
      <th>Modify</th>
      <th>Delete</th>
      {% endif %}
      {% for e in w_keys %}
      <th>{{ e[1] }}</th>
      {% endfor %}
    </thead>
    {% if results.WorkingPaper|length > 10 %}
    <tfoot>
      {% if False %}
      <th>Modify</th>
      <th>Delete</th>
      {% endif %}
      {% for e in w_keys %}
      <th>{{ e[1] }}</th>
      {% endfor %}
    </tfoot>
    {% endif %}   
    <tbody>
      {% for result in results.WorkingPaper %}
      <tr>
	{% if False %}
	<td>
	  <a href="/ModifyPaper/{{result["_id"]}}">
	    <span class="fa fa-pencil"></span>
	  </a>
	</td>
	<td> 
	  <a href="/DeletePaper/{{result["_id"]}}">
	    <span class="fa fa-trash"></span>
	  </a>
	</td>
	{% endif %}
        {% for e in w_keys %}
        <td>  {{ result[e[0]] }} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {% endif %}
  {% else %}
  <h5 style = "text-align: center;"> No document found. </h5>
  {% endif %}
</div>

{% endblock %}
